.page{
  padding: 24px;
  display: grid;
  gap: 24px;
}

.conteudoContainer{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.containerTudo{
  margin: 0px 10vw;
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  gap: 24px;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 24px 0
}

@media screen and (max-width: 1600px)  {
  .containerTudo{
    margin: 0px 2vw;
  }
}

@media screen and (max-width: 1400px)  {
  .containerTudo{
    grid-template-columns: 1fr;
  }
}